
         
body{
    background-image: url(../imagen/mujer.jpg);
    
}      



#navbarDropdown:hover {
    color:yellowgreen;
   
}

#enlacecabecera:hover {
    color:yellowgreen;
    
    
    
}
.Recliente{
    background-color:rgba(255,255,255,0);
    color: aqua;
}
.formularioregistro{
    padding:18px;

}
.fondo2{
    background-color: blueviolet;
    
}      
#button_register{
    border-radius:5px;
    height:30px;
    width:80px;
    background-color: chartreuse;
    padding-top:2px;
    padding-left:4px;
    padding-right:1px;
    margin-top: 7px;
    color: blue;
}
#button_register:hover{
    color:red;
    background-color: aqua;
}
